<!-- <p>song1 works!</p> -->

<p style="color: #ae1c3b;">Song Detail</p>
<div class="card" style="width: 24rem;" style="border: 2px solid blue; width:22%">
    <img src="../../assets/Image/Image01.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      
      <h5 class="card-title" style="padding-left: 70px;">Song Title : {{song.songName}}</h5>
      <h5 class="card-title" style="padding-left: 30px;">Name of the Album : {{song.albumName}}</h5>
    
      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
      <a href="#" class="btn btn-primary" style="margin-left: 140px;">Play</a>
    </div>
</div>